@import "../style/variables";

.adder {
  display: flex;
  box-sizing: border-box;
  margin-top: 2rem;
  background-color: $White;
  padding: 2rem;
  height: 8rem;
  gap: 1rem;
  font-family: "Manrope", sans-serif;
  border-radius: 0.8rem;
}

.adder button {
  font-size: 1.5rem;

  color: $White;
  background-color: $moderate-blue;
  width: 6rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;

  &:hover {
    background-color: $light-grayish-blue;
  }
}
