input {
  width: 15rem;
  height: 3rem;
}

#input {
  &::placeholder {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}

#input {
  text-align: left;
  padding-top: 0;
  vertical-align: top;
}
