@import "../style/variables";

.adder {
  display: flex;
  box-sizing: border-box;
  margin-top: 1.92rem;
  background-color: $White;
  padding: 1.92rem;
  height: 7.68rem;
  gap: 0.96rem;
  font-family: "Manrope", sans-serif;
  border-radius: 0.768rem;
}

.adder button {
  font-size: 1.44rem;
  color: $White;
  background-color: $moderate-blue;
  width: 5.76rem;
  height: 2.88rem;
  border-radius: 0.384rem;
  border: none;

  &:hover {
    background-color: $light-grayish-blue;
  }
}
