@import "../../style/variables";

.reply {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  margin-left: 4rem;
  max-width: 46rem;
  grid-template-columns: repeat(7, 6rem);
}

.reply-section {
  grid-column: 7/8;
}

.delete-section {
  grid-column: 6/7;
}

.edit-section {
  grid-column: 7/8;
}

.content {
  grid-column: 2/8;
}

textarea {
  grid-column: 2/7;
}

.submit-reply {
  color: $White;
  background-color: $moderate-blue;
  width: 6rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  &:hover {
    background-color: $light-grayish-blue;
  }
}

.popup-container {
  position: fixed;
  left: 38%;
}
