<div *ngIf="replyComment(comment)" class="reply">
  <img src="{{ currentUser.image.webp }}" alt="" />
  <input type="text" [(ngModel)]="replyCommentInput" />
  <button (click)="addCommentReply()">Reply</button>
</div>
<div *ngIf="comment.replies.length">
  <div *ngFor="let reply of comment.replies; let i = index" class="reply">
    <button
      (click)="scoreChange(i, reply.score, scoreChangeType.Minus, reply.id)"
    >
      <img src="../assets/images/icon-minus.svg" alt="minus" /></button
    ><span class="score">{{ reply.score }}</span
    ><button
      (click)="scoreChange(i, reply.score, scoreChangeType.Plus, reply.id)"
    >
      <img src="../assets/images/icon-plus.svg" alt="plus" />
    </button>
    <img src="{{ reply.user.image.webp }}" alt="profile picture" />
    <span class="user-name">{{ reply.user.username }}</span>
    <span class="you" *ngIf="reply.user.username === currentUser.username"
      >you</span
    >
    <div *ngIf="reply.user.username !== currentUser.username">
      <button
        class="btn-reply"
        (click)="btnClick(activityType.Reply, reply, i, comment)"
      >
        <img src="../assets/images/icon-reply.svg" alt="reply icon" />
        Reply
      </button>
    </div>
    <div *ngIf="reply.user.username === currentUser.username">
      <button
        class="btn-delete"
        (click)="btnClick(activityType.Delete, reply, i, comment)"
      >
        <img src="../assets/images/icon-delete.svg" alt="delete icon" />
        Delete
      </button>
      <div class="popup-container" *ngIf="deleteInput(reply)">
        <p>
          Are you sure you want to delete this comment? This will remove the
          comment and can't be undone.
        </p>
        <button (click)="cancelDelete()">No, Cancel</button>
        <button (click)="delete()">Yes, Delete</button>
      </div>
    </div>
    <div *ngIf="reply.user.username === currentUser.username">
      <button
        class="btn-edit"
        (click)="btnClick(activityType.Edit, reply, i, comment)"
      >
        <img src="../assets/images/icon-edit.svg" alt="edit icon" />
        Edit
      </button>
    </div>
    <div class="time">{{ reply.createdAt }}</div>
    <div *ngIf="!editReply(reply)">
      <p class="content">{{ reply.content }}</p>
    </div>
    <div *ngIf="editReply(reply)">
      <input type="text" [(ngModel)]="reply.content" />
      <button (click)="updateReply(reply.content)">Update</button>
    </div>
    <div *ngIf="replyReply(reply, comment)" class="reply repreply">
      <img src="{{ currentUser.image.webp }}" alt="" />
      <input type="text" [(ngModel)]="replyReplyInput" />
      <button (click)="addReplyReply()">Reply</button>
    </div>
  </div>
</div>
