@import "../../style/variables";

.reply {
  font-family: "Manrope", sans-serif;
  font-size: 0.96rem;
  margin-left: 3.84rem;
  max-width: 44.16rem;
  grid-template-columns: repeat(7, 5.76rem);
}

.reply-section {
  grid-column: 7/8;
}

.delete-section {
  grid-column: 6/7;
}

.edit-section {
  grid-column: 7/8;
}

.content {
  grid-column: 2/8;
}

textarea {
  grid-column: 2/7;
}

.submit-reply {
  color: $White;
  background-color: $moderate-blue;
  width: 5.76rem;
  height: 2.88rem;
  border-radius: 0.384rem;
  border: none;
  &:hover {
    background-color: $light-grayish-blue;
  }
}

.popup-container {
  position: fixed;
  left: 38%;
}
