<div *ngIf="replyComment()" class="reply">
  <img src="{{ currentUser.image.webp }}" alt="" />
  <input type="text" [(ngModel)]="replyComentInput" />
  <button (click)="addCommentReply()">Reply</button>
</div>
<div *ngIf="comment.replies.length">
  <div *ngFor="let reply of comment.replies; let i = index" class="reply">
    <button><img src="../assets/images/icon-minus.svg" alt="minus" /></button
    ><span class="score">{{ reply.score }}</span
    ><button><img src="../assets/images/icon-plus.svg" alt="plus" /></button>
    <img src="{{ reply.user.image.webp }}" alt="profile picture" />
    <span class="user-name">{{ reply.user.username }}</span>
    <span class="you" *ngIf="reply.user.username === currentUser.username"
      >you</span
    >
    <div *ngIf="reply.user.username !== currentUser.username">
      <button class="btn-reply" (click)="btnClick('reply', reply, i)">
        <img src="../assets/images/icon-reply.svg" alt="reply icon" />
        Reply
      </button>
    </div>
    <div *ngIf="reply.user.username === currentUser.username">
      <button class="btn-delete">
        <img src="../assets/images/icon-delete.svg" alt="reply icon" />
        Delete
      </button>
    </div>
    <div *ngIf="reply.user.username === currentUser.username">
      <button class="btn-edit" (click)="btnClick('reply', reply, i)">
        <img src="../assets/images/icon-edit.svg" alt="reply icon" />
        Edit
      </button>
    </div>
    <div class="time">{{ reply.createdAt }}</div>
    <div *ngIf="!editReply(reply)">
      <p class="content">{{ reply.content }}</p>
    </div>
    <div *ngIf="editReply(reply)">
      <input type="text" [(ngModel)]="reply.content" />
    </div>
    <div *ngIf="!replyHide && replyReply(reply)" class="reply repreply">
      <img src="{{ currentUser.image.webp }}" alt="" />
      <input type="text" [(ngModel)]="replyReplyInput" />
      <button (click)="addReplyReply()">Reply</button>
    </div>
  </div>
</div>
