<app-attach-comments
  [comments]="comments"
  [currentUser]="currentUser"
  (addCommentReply)="addCommentReplyHandler($event)"
  (addReplyReply)="addReplyReplyHandler($event)"
  (updateComment)="updateTextHandler($event)"
  (updateReply)="updateTextHandler($event)"
  (delete)="deleteHandler($event)"
  (deleteRep)="deleteRepHandler($event)"
  (scoreMinus)="scoreMinusHandler($event)"
  (scorePlus)="scorePlusHandler($event)"
></app-attach-comments>
<app-add-comment (addUserComment)="addCommentHandler($event)"></app-add-comment>
