@import "../style/variables";

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.comment {
  margin-top: 2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(8, 6rem);
  grid-template-rows: 4rem auto;
  max-width: 50rem;
  border-radius: 0.8rem;
  background-color: $White;
}

.score-tracker {
  grid-row: 1/3;
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 3rem;
  height: 7.5rem;
  border-radius: 0.8rem;
}

.simbol-btn {
  border: none;
  background: none;
  &:hover {
    .simbol {
      fill: $moderate-blue;
    }
  }
}

.score {
  color: $moderate-blue;
  font-weight: bold;
}

.avatar {
  grid-column: 2/3;
}

.user-name {
  margin-top: 1rem;
  grid-column: 3/4;
  font-weight: bold;
}

.you {
  text-align: center;
  margin-top: 1rem;
  background-color: $moderate-blue;
  height: 1.7rem;
  width: 2.3rem;
  color: $White;
  border-radius: 0.3rem;
}

.time {
  grid-column: span;
  margin-top: 1rem;
  color: $grayish-blue;
}

.reply-section {
  grid-column: 8/10;
}

.reply-btn {
  border: none;
  color: $moderate-blue;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.reply-section:hover {
  .reply-btn {
    color: $light-grayish-blue;
  }
  .reply-svg {
    fill: $light-grayish-blue;
  }
}

.delete-section {
  margin-top: 1rem;
  grid-column: 7/8;
}

.delete-btn {
  border: none;
  color: $soft-red;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.delete-section:hover {
  .delete-btn {
    color: $pale-red;
  }
  .delete-svg {
    fill: $pale-red;
  }
}

.edit-section {
  margin-top: 1rem;
  grid-column: 8/10;
}

.edit-btn {
  border: none;
  color: $moderate-blue;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.edit-section:hover {
  .edit-btn {
    color: $light-grayish-blue;
  }
  .edit-svg {
    fill: $light-grayish-blue;
  }
}

.update-section {
  grid-row: 2/3;
  grid-column: 2/9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.update-button {
  color: $White;
  background-color: $moderate-blue;
  width: 6rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  &:hover {
    background-color: $light-grayish-blue;
  }
}

.content {
  grid-row: 2/3;
  grid-column: 2/9;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-container {
  position: fixed;
  top: 30%;
  width: 24rem;
  height: 15rem;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: start;
}

.popup-container h1 {
  color: $dark-blue;
}
.popup-container p {
  color: $grayish-blue;
  padding-bottom: 1rem;
}

.popup-container button {
  text-align: center;
  width: 11rem;
  height: 2.5rem;
  color: $White;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.btn-cancel {
  background-color: $grayish-blue;
  margin-right: 2rem;
}

.btn-delete {
  background-color: $soft-red;
}

textarea {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
}
